<div> paypal will dispaly here</div>

<!-- <div *ngIf="paidFor">
  <h1>Payment succeed!</h1>
</div> -->

  <div #paypal></div>






<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5">
    <button class="btn btn-outline-primary" routerLink="/basket">
        <i class="fa fa-angle-left"></i> Back to Review
    </button>
    <button (click)="submitPayPal()">Submit Order <i class="fa fa-angle-right"></i> 
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
    </button>
</div>